body{
    background-color: #181818;
    font-family: 'montserrat';
}
.category{
 padding: 24px;
}
.category-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
 
}
.category-view-all{
    font-size: 16px;
    color: #b3b3b3;
    font-weight: 600;
    font-weight: 400;
  
}
.category-view-all:hover{
    text-decoration: underline;
    text-decoration-color:#b3b3b3 ;
    cursor: pointer;
}
.category-title:hover{
   
    text-decoration: underline;
    text-decoration-color: white;
    cursor: pointer;
}
.category-items{

 
    grid-gap: 18px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
    
    grid-auto-rows: 0;
    grid-template-rows: 1fr;
    overflow-y: hidden;
   
    
}
.category-item{
   
    grid-column: span 1;
    grid-row: span 1;
    /* background-color:#242424; */
    background-color: #181818;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.category-item:hover{
    cursor: pointer;
    background-color: #393939;
    transition: 0.4;
}

.category-item img{
    width: 100%;
    /* height: 150px; */
    border-radius: 6px;
    /* margin-bottom: 9px; */
}
.category-item-img{
    position: relative;
}
.play-bg{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 50px;
    /* transform: translateX(-4px) translateY(-8px); */
    background-color: rgb(30, 207, 95);
    border-radius: 50%;
    opacity: 0;
    transition: all ease-in-out 0.4s;

}
.play-btn{
    transform: scale(1.3);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

}
.category-item:hover .play-bg{
    opacity: 1;
    transform: translateX(-4px) translateY(-8px);

}
.fa:hover{
    transition: 0s;
    /* background-color: rgb(31,223,100); */
    /* transform: scale(1.35); */
}
.category-item-title{
    margin-top: 9px;
    margin-bottom: 4px;
    color: white;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.category-item-desc{
    margin-top: 4px;
    color: white;
    opacity: 0.7;
    font-size: 13px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}